version: "3.9"

services:
  user-service:
    build: ./user-service
    expose:
      - "8001"

  product-service:
    build: ./product-service
    expose:
      - "8002"

  order-service:
    build: ./order-service
    expose:
      - "8003"

  api-gateway:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - user-service
      - product-service
      - order-service
